.search-bar-container{
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    
    .search-bar{
        padding: 10px;
        width: 800px;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 21px 42px 20px 40px;

        input{
            flex: 1;
            border: none;
            outline: none;
            font-size: 32px;
            font-family: $inter;
            color: linear-gradient(to bottom, rgba(215, 224, 255, 0.26), rgba(215, 224, 255, 0.26));

            &::placeholder{
                font-weight: 300;
            }
        }
    }
}