.home-container{
    background-image: linear-gradient(to bottom, rgba(215, 224, 255, 0.26), rgba(215, 224, 255, 0.26)), url('../../../public/images/zevi-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}